# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
*.tsbuildinfo

# environment
.env
.env.*
!.env.example

# logs
*.log

# test coverage
coverage/

# cdk
cdk.out/

# os / editor
.DS_Store