.pixel {
  width: 10px;
  height: 10px;
  position: relative;
}

.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #c5050c;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: expandRipple 0.2s ease-out forwards;
  z-index: 9999;
}


@keyframes expandRipple {
  from {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0.9;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}